<div class="page-header">
  <h1>
    Editar servicio

  </h1>
</div><!-- /.page-header -->

<div class="row">


  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre </label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Nombre" class="col-xs-12 col-sm-7"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descripción </label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Descripción" class="col-xs-12 col-sm-7"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Precio </label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Precio" class="col-xs-12 col-sm-7"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tiempo </label>

        <div class="col-sm-9">
          <input type="text" id="form-field-1" placeholder="Tiempo estimado para realizar servicio" class="col-xs-12 col-sm-7"/>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Estado </label>

        <div class="col-sm-9">

          <select class="col-xs-12 col-sm-7" id="form-field-select-1">
            <option value="ACTIVE" selected>Activo</option>
            <option value="INACTIVE">Inactivo</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <a href="/items">
            <button type="button" class="btn btn-default">Cancelar</button>
          </a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </form>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <!-- /.col -->
</div><!-- /.row